<!DOCTYPE html>
<html>
  <body>
    <h2>You must login!</h2>
    <form method="POST" action="/login">
      <input type="text" placeholder="Name" name="name" /><br />
      <input type="text" placeholder="Id" name="id" />
      <button>Login</button>
    </form>
  </body>
</html>
